.Digital-clock{
	width:200px;
	height:100px;
	margin:auto;
	position:all;
	top:50%;left:50%;
	color: #fff;
	font-size: 20px;
	padding: 0px, 5px, 0px, 5px;
	border:0px solid #ccc;

}

body{
	background-image:url(black_background.jpg);
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}