.Digital-clock{
	width:400px;
	height:50px;
	margin:auto;
	position:absolute;
	top:50%;left:50%;
	color: #fff;
	font-size: 20px;
	padding: 5px, 5px, 5px, 5px;
	border:0px solid #ccc;
	background-color: #333;

}

body{
	background-image:url(black_background.jpg);
}
#clock{
	height:20px;
	width:400px;
    letter-spacing:2px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
    text-align: center;

}
#date {
	height:50px;
	width:200px;
    letter-spacing:2px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
    text-align: center;
    margin-left:20%;

}
